{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Crear Actividad Agrícola {% endblock %}

{% block content %}
<h1> Añadir Actividad Agrícola </h1>
<form method="post" enctype="multipart/form-data">
{% crispy form %}
{{form.errors}}
</form>
{% endblock %}


{% block footer %}
    <script>
        $(document).ready(function(){
                
            function checkMaquinaria($maquinaria){
                let $detalleContainer = $maquinaria.closest("tr");
                let $maquinariaPrecio = $detalleContainer.find(".precio-ha");
                let $precioHa = $maquinaria.find('option:selected').attr('data-precio-ha');
                $maquinariaPrecio.val($precioHa);
            }

            $(document).on("change", "select[data-maquinaria-select]", function(event){
                checkMaquinaria($(event.target))
            });
            
            function checkItem($item){
                let $detalleContainer = $item.closest("tr");
                let $itemCosto = $detalleContainer.find(".item-costo");
                let $itemPorcentajeIva = $detalleContainer.find(".item-porcentaje-impuesto");
                let $precioCosto = $item.find('option:selected').attr('data-costo');
                let $impuestoPorcentaje = $item.find('option:selected').attr('data-tipo-impuesto-porcentaje');
                $itemCosto.val($precioCosto);
                $itemPorcentajeIva.val($impuestoPorcentaje);
            }

            $(document).on("change", "select[data-item-select]", function(event){
                checkItem($(event.target))
            });
        });
    </script>
{% endblock  %}
    