{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Registrar Compra {% endblock %}

{% block content %}
<script src="{% static 'site/js/inputmask.min.js' %}"></script>
<script src="{% static 'site/js/mask.js' %}"></script>
<h1> Añadir Compra </h1>
<form method="post" enctype="multipart/form-data">
{% crispy form %}
{{form.errors}}
</form>
{% endblock %}

{% block footer %}
<script>
    $(document).ready(function(){
        $("#id_esCredito").change(function(){
            if($(this).is(":checked")){
                $(".None").removeClass("d-none");
            }else{
                $(".None").addClass("d-none");
            }
        });
    });
</script>
{% endblock%}