{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Registrar Nota de Crédito Recibida {% endblock %}

{% block content %}
<h1> Añadir Nota de Crédito Recibida </h1>
<form method="post" enctype="multipart/form-data">
{% crispy form %}
{{form.errors}}
</form>
{% endblock %}


{% block footer %}
    <script>
        $(document).ready(function(){
        
            function checkItem($item){
                let $detalleContainer = $item.closest("tr");
                let $itemCosto = $detalleContainer.find(".item-costo");
                let $itemPorcentajeIva = $detalleContainer.find(".item-porcentaje-impuesto");

                let $precioCosto = $item.find('option:selected').attr('data-costo');
                let $impuestoPorcentaje = $item.find('option:selected').attr('data-tipo-impuesto-porcentaje');

                $itemCosto.val($precioCosto);
                $itemPorcentajeIva.val($impuestoPorcentaje);
            }

            $(document).on("change", "select[data-item-select]", function(event){
                checkItem($(event.target))
            });

        });
    </script>
{% endblock  %}
    