{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Registrar Nota de Crédito Emitida {% endblock %}

{% block content %}
<h1> Añadir Nota de Crédito Emitida </h1>
<form method="post" enctype="multipart/form-data">
{% crispy form %}
{{form.errors}}
</form>
{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function(){
        
            function checkItem($item){
                let $detalleContainer = $item.closest("tr");
                let $itemPrecio = $detalleContainer.find(".item-precio");
                let $itemPorcentajeIva = $detalleContainer.find(".item-porcentaje-impuesto");

                let $precio = $item.find('option:selected').attr('data-precio');
                let $impuestoPorcentaje = $item.find('option:selected').attr('data-tipo-impuesto-porcentaje');

                $itemPrecio.val($precio);
                $itemPorcentajeIva.val($impuestoPorcentaje);
            }

            $(document).on("change", "select[data-item-select]", function(event){
                checkItem($(event.target))
            });

        });
    </script>
    {% endblock  %}