{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}

<h1>{% if title %} {{ title }} {% else %} Seleccione un registro para continuar {% endif %}</h1>

{% if not form %} 
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        {% include 'includes/search_form.html' %}
    </div>
    <div class="col-md-2">
        <a class="btn btn-secondary" href="{{ back_url }}"> Cancelar </a>
    </div>
</div>
{% endif %}

{% if form %} 
<form action="{{ next_url }}" method="get">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Siguiente">
    <a class="btn btn-secondary" href="{{ back_url }}"> Cancelar </a>
</form>
{% else %}
{% render_table table %}
{% endif %}

{% endblock %}
