{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <table >
            <tr>
            <td style="width: 15%;padding: 0;" valign="top" align="center">
                <img src="{% static 'site/images/iconoAgroAmanecer.png' %}" width="100">
            </td>
            <td style="width: 60%;padding: 0;" valign="top" align="center">       
                <h1 class="display-4">AGRO AMANECER</h1>
                <p class="lead">Lo mejor en gestion agrícola, en sus manos </p>
            </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
